h1{
    color:orange;
    font-size: 65px;
    font-family: sans-serif;
}
.modified{
    background-color: aqua;
    text-align: center;
    text-decoration: underline;
}
p{
    font-weight: 600;
    font-size: 3em;
    font-style:oblique;
}
body{
    font-size: 16px;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}